<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Block access to admin paths
  RewriteRule ^admin(/.*)?$ - [F,L]
  
  # Don't rewrite files or directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Rewrite everything else to index.html to allow client-side routing
  RewriteRule ^ index.html [L]
</IfModule>

